/* Question 5 css
<style>
      /* Set some initial styles for the container element */
      #container {
        width: 200px;
        height: 200px;
        background-color: lightgray;
        margin: 50px auto;
      }
   
   
    <script>
     
    </script>
  </body>
</html>